img {
    width: 100px;
    height: 100px;
}

form {
    display: inline-block;
    max-width: 400px;
    margin-top: 0.75em;
}

.submit-btn {
    margin-top: 1em !important;
}

label {
    margin: 0 !important;
}

.last {
    padding-top: 1em;
}

.flex {
    display: flex;
}

.center-hv {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}