strong {
    color: var(--main-color);
}

img {
    width: 100px;
    height: 100px;
    margin: 0.5em 0;
}

form {
    display: inline-block;
    max-width: 400px;
    margin-top: 0.75em;
}

p {
    margin: 0 !important;
}

.submit-btn {
    margin-top: 1em !important;
}

label {
    margin: 0 !important;
}

.last {
    padding-top: 1em;
}

.flex {
    display: flex;
}

.center-hv {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-minor {
    margin: auto;
    width: 90vw;
    text-align: center;
}

section {
    max-width: 69vw;
}

.section {
    height: 350px;
    border: #d7d7d7 1px solid;
    border-top: none;
    border-left: var(--main-color) 2px solid;
    box-shadow: 5px 5px 15px -11px rgba(0,0,0,0.5);
    background-color: #f8f7f7;
}

.nav-link {
    color: black !important;
    cursor: pointer !important;
}

.nav {
    display: flex;
    justify-content: center;
}

.active {
    color: var(--main-color) !important;
    background-color: #f0f0f0 !important;
}

.hide {
    display: none;
}

.left {
    margin-left: -3em !important;
    margin-top: 0.1em !important;
}

.mt {
    padding-top: 1em;
}

.error-section {
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.route {
    background-color: #eee;
    border: 1px solid #d7d7d7;
    width: 400px;
    padding: 0.5em;
}

.route-details {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.routes {
    max-height: 80vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    margin-bottom: 1em;
}

.big-dick {
    font-size: 16px;
}

.meow {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

.facility {
    margin-top: 0.5em;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.breadcrump {
    position: fixed;
    top: 1vw;
    left: 1vw;
}

a {
    color: var(--main-color) !important;
}

a:hover {
    color: #cd1515 !important;
}