strong {
    color: var(--main-color);
}

img {
    width: 100px;
    height: 100px;
    margin: 0.5em 0;
}

form {
    display: inline-block;
    max-width: 400px;
    margin-top: 0.75em;
}

p {
    margin: 0 !important;
}

.submit-btn {
    margin-top: 1em !important;
}

label {
    margin: 0 !important;
}

.last {
    padding-top: 1em;
}

.flex {
    display: flex;
}

.center-hv {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    max-width: 600px;
}

.section {
    height: 350px;
}

.nav-link {
    color: black !important;
}

.active {
    color: var(--main-color) !important;
}

.hide {
    display: none;
}

.nav-link {
    cursor: pointer !important;
}

.left {
    margin-left: -3em !important;
    margin-top: 0.1em !important;
}

.mt {
    padding-top: 1em;
}